[Desktop Entry]
Type=Application
Version=1.0
Name=NEOTH
GenericName=Local AI Assistant
Comment=Open NEOTH using your chosen interface
Exec=/usr/bin/neothd-gui --product-launcher
TryExec=/usr/bin/neothd-gui
Icon=neoth
Terminal=false
Categories=Utility;Development;
StartupNotify=true
